<table class="table no-more-tables table-striped table-hover" id="component" >
    <thead>
        <tr><th style="width:1%" >
                <div class="checkbox check-default">
                    <input id="checkbox" type="checkbox" value="1" class="checkall">
                    <label for="checkbox"></label>
                </div>
            </th>
            <th>Component</th>
            <th>Indicator</th>
        </tr>
    </thead>
    <tbody id='dataTable' class="searchable">
        <% if @components.count > 0 %>
            <% @components.each do |component| %>
                <%= render 'data', :component => component %>
            <% end %>
        <% else %>  
            <tr>
                <td colspan="5" align="center">No component data found!</td>
            </tr>
        <% end %>
    </tbody>
</table>