<div class="nested-fields addform clearfix">
	<%= f.text_field :name, :class => 'col-xs-10', :placeholder => 'Indicator' %>
	<%= link_to_remove_association f do %>  	
		<i class="fa fa-remove"></i>
	<% end %>
</div>