 <div class="row">
                <div class="col-md-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#">Master Data</a></li>
                        <li><a href="#">Code of Conduct</a></li>
                        <li class="active">Current page</li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
			<form action="#" class="form-horizontal ">
				<div class="row">
					<div class="col-sm-12">
						<section class="panel">
							<header class="panel-heading">
								Code of Conduct
								<span class="tools pull-right">
									<a href="javascript:;" class="fa fa-chevron-down"></a>
								 </span>
							</header>
							<div class="panel-body">
							
							 <!--tab nav start-->
								<section class="panel">
									<header class="panel-heading tab-bg-dark-navy-blue">
										<ul class="nav nav-tabs">
											<li>
												<a data-toggle="tab" href="#indonesia">
													<i class="fa fa-home">Indonesia</i>
												</a>
											</li>
											<li class="active">
												<a data-toggle="tab" href="#inggris">
													<i class="fa fa-user"></i>
													Inggris
												</a>
											</li>
										</ul>
									</header>
									<div class="panel-body">
										<div class="tab-content">
											<div id="indonesia" class="tab-pane ">
												<div class="form">
													<form action="#" class="form-horizontal">
														<div class="form-group">
															<div class="col-sm-12">
																<textarea class="form-control ckeditor" name="editor1" rows="6"></textarea>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div id="inggris" class="tab-pane active">
												<div class="form">
													<form action="#" class="form-horizontal">
														<div class="form-group">
															<div class="col-sm-12">
																<textarea class="form-control ckeditor" name="editor1" rows="6"></textarea>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</section>
							 <!--tab nav end-->

							</div>
						</section>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-sm-12">
						<section class="panel">
							<div class="panel-body">
								<div class="clearfix">
									<div class="btn-group pull-right">
										<button type="submit" class="btn btn-danger">
											<a href="#" style="color:#ffffff">Cancle</a>
										</button>
										<button type="submit" class="btn btn-info">
											<a href="#" style="color:#ffffff">Submit</a>
										</button>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</form>
		<!-- page end-->
		
		<!--footer start -->
		<div class="row">		
			<div class="col-md-12">
				<div class="footer-panel">
					<div class="copyright">Copyright 2015 &copy; <a href="">HRM - Human Resource Management</a></div>
					<div class="powered">Powered by <b><a href="" target="_Blank">PT.Pratesis</a></b></div>
				</div>
			</div>
		</div>
		<!--footer end -->
