<div class="form-group row">
	<h4 class="semi-bold col-sm-6">Select Employee</h4>
</div>
<table class="table table-hover no-more-tables">
  <thead>
      <tr>
          <th>Employee NAme</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Mark</td>
          <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr>
          <td><input type="text" value="Timothy Thornton"/></td>
          <td><button class="btn btn-success"><i class="fa fa-check"></i></button></td>
      </tr>
      <tr>
          <td><input type="text" value="Elthos John"/></td>
          <td><button class="btn btn-success"><i class="fa fa-check"></i></button></td>
      </tr>
  </tbody>
</table>
