<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Shift</Data></Cell>
        <Cell><Data ss:Type="String">Start Period</Data></Cell>
        <Cell><Data ss:Type="String">End Period</Data></Cell>
        <Cell><Data ss:Type="String">Employee Name</Data></Cell>
      </Row>
    <% @schedules.each do |schedule| %>
      <Row>
        <Cell><Data ss:Type="String"><%= schedule.shift.name %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= schedule.start_period %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= schedule.end_period %></Data></Cell>
        <Cell><Data ss:Type="String"><%= schedule.employee.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>