<li class=""> 
	<%= link_to absences_path, class: (controller_name.downcase=="absences" ? "cur tip" : "tip"), data: {'toogle' => 'tooltip', 'placement' =>'right', 'original-title' => 'Absence'} do %>
	<i class="fa fa-bullseye"></i>
	<span class="title" ><%= t(:absence) %></span>
	<% end %>
	</li>