<li class=""> 
	<%= link_to leave_requests_path, class: (controller_name.downcase=="leave_requests" ? "cur tip" : "tip"), data: {'toogle' => 'tooltip', 'placement' =>'right', 'original-title' => 'Leave Request'} do %>
	<i class="fa fa-sign-out"></i>
	<span class="title" ><%= t(:leave_request) %></span>
	<% end %>
</li>