<div class="col-md-12">
  <div class="dataTables_paginate paging_bootstrap pagination">
    <%= pagination_links(@users, :params => {:controller => 'users', :action => 'index'}) %>
  </div>
<div class="dataTables_info">
  Showing
  <b>
    <%= params[:page] ? (params[:page].to_i*params[:per_page].to_i) : 1 %>
    to <%= params[:per_page].to_i < @users_count ? @users_count : params[:per_page].to_i*params[:page].to_i %>
  </b>
  of <%= @users_count %> entries
</div>
